@import "css/globals.css";
@import "components/JokeSection/JokeSection.css";
@import "components/Joke/Joke.css";
button{
    padding: 10px;
    margin-left: 1rem;
    border-radius: 5px;
}
button:hover{
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}